// If it gets big, we could potentially split it into multiple files
// e.g. _colors.scss, _typography.scss etc.

$primary: #F95A57;
$gray: #797979;
$lightgray: #D2D2D2;

$roboto: 'Roboto', sans-serif;
