// Global Semantic UI Overrides

///////////
// Button
///////////
.ui.button {
  font-size: 1.1rem;
  padding: 1em 4em;
	border-radius: .3em;
	background-color: $primary;
  color: white;
  border: none;

  &:hover {
    background-color: $darkened-primary;
    color: white;
  }

  &.active:active,
  &:active {
    background-color: $darkened-primary;
    color: white;
  }

  &:focus {
    background-color: $primary;
    color: white;
  }

  &.hollow {
    background-color: unset;
    color: $primary;
    border: .14em solid $primary;
    padding: .86em 3.86em;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

///////////
// Item
///////////
.ui.items .item {
  position: relative;
  box-shadow: 0 .07rem .14rem 0 rgba(34,36,38,.15);
  box-shadow: 0 .14rem .28rem 0 rgba(34,36,38,.12), 0 .14rem .7rem 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28em;
  border: .07em solid rgba(34,36,38,.15);

  .item-icons {
    float: right;
    margin-top: 0;

    .heart {
      color: $primary;
    }

    .chat {
      margin-left: .7em;
    }
  }
}
